# Virtual Environments
.env
.envs/.production/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# PID files
*.pid

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.vscode
profile_data/*
*.
*.csv

# Esoteric PyCharm stuff
.idea/

# DB Dumps
*.sql
*.dump
*.db

# GCloud
.config/gcloud/

# Static files
static/

# Unit test / coverage reports
.coverage