language: python
python:
  - "3.6"
dist: xenial

services:
  - docker

before_install:
- docker-compose -f local.yml run app /bin/bash -c "./prepare_db"

script:
- docker-compose -f local.yml run --rm app ./manage.py test --settings=config.settings.test "$@"